@font-face {
    font-family: PT Sans; 
    src: url(PT_Sans.ttf); 
}
body{background: #FFFFFF; margin: 0 auto; position: relative;  width: 100%;  min-height: 100%;  height: 100%;  height: auto !important;  left: 0;  top: 0; font-family: "PT Sans";}
#mainsig {position: relative;width: 1200px;margin: 0 auto;display: block;height: 883px;}
#polir{background: url('../polir/images/polir.jpg') top center no-repeat;width: 100%;min-width: 1200px;margin: 0 auto;position: relative;}
#logo {position: relative;float: left;top: 0px;}
#adres{position: relative;width: 288px;color:#000000 !important;font-family: Trebuchet MS;font-size: 25px;display: inline-block;top: 10px;left: 539px;float: left;}
#adres a{color:#000000 !important;text-decoration: none;}
span.tel{font-size: 40px;}
span.adr{font-size: 20px;}
#soc{position: relative;width: 33px;display: inline-block;left: 548px;top: 17px;}
.slogan{position: absolute;color: #FFFFFF;font-size: 44px;width: 370px;text-align: center;font-family: "PT Sans";padding: 0px;margin: 0px;left: 425px;top: 70px;z-index:1000;}
#logo a{text-decoration: none;}

#polcar {
position: relative;
margin: 0 auto;
left: -75px;
margin-top: -883px;
height: 644px;
width: 1200px;
}

.pol1 {
width: 144px;
height: 46px;
background: url('../polir/images/pol1.jpg') no-repeat;
position: absolute;
z-index: 1000;
top: 282px;
left: 160px;
cursor: pointer;
}

.pol1:hover {
background: url('../polir/images/hpol1.png') bottom center no-repeat;
width: 1147px;
height: 516px;
top: 98px;
left: 101px;
z-index: 10;
}

.pol2 {
width: 144px;
height: 46px;
background: url('../polir/images/pol2.jpg') no-repeat;
position: absolute;
top: 202px;
left: 330px;
z-index: 1000;
cursor: pointer;
}

.pol2:hover {
background: url('../polir/images/hpol2.png') bottom center no-repeat;
width: 1147px;
height: 516px;
top: 98px;
left: 101px;
z-index: 10;
}

.pol3 {
width: 144px;
height: 46px;
background: url('../polir/images/pol3.jpg') no-repeat;
position: absolute;
top: 202px;
left: 1000px;
z-index: 1000;
cursor: pointer;
}

.pol3:hover {
background: url('../polir/images/hpol3.png') bottom center no-repeat;
width: 1147px;
height: 516px;
top: 98px;
left: 101px;
z-index: 10;
}

.pol4 {
width: 144px;
height: 46px;
background: url('../polir/images/pol4.jpg') no-repeat;
position: absolute;
top: 281px;
left: 1098px;
z-index: 1000;
cursor: pointer;
}

.pol4:hover {
background: url('../polir/images/hpol4.png') bottom center no-repeat;
width: 1147px;
height: 516px;
top: 98px;
left: 101px;
z-index: 10;
}

#yuslygf{position: relative;background: url('../polir/images/dass012.jpg') top center no-repeat;width: 100%;min-width:1200px;margin: 0 auto;}
#yuslyg{position: relative;width: 1200px;height:850px;padding-top: 50px;margin: 0 auto;}
#ceers1,#ceers2,#ceers3,#ceers4,#ceers5,#ceers6,#ceers7,#ceers8{position: relative;display: inline-block;width: 360px;height: 83px;color: #000000;font-family: Trebuchet MS;font-size: 25px;background-position: center left;padding-left: 111px;padding-top: 15px;margin-left: 115px;margin-bottom: 26px;text-align: left;}
#ceers2,#ceers4,#ceers6,#ceers8{margin-left: 80px;}
#ceers1{background: url('../polir/images/ceer1.png') no-repeat;}
#ceers2{background: url('../polir/images/ceer5.png') no-repeat;}
#ceers3{background: url('../polir/images/ceer2.png') no-repeat;}
#ceers4{background: url('../polir/images/ceer6.png') no-repeat;}
#ceers5{background: url('../polir/images/ceer3.png') no-repeat;}
#ceers6{background: url('../polir/images/ceer7.png') no-repeat;}
#ceers7{padding-top: 30px;background: url('../polir/images/ceer4.png') no-repeat;top: -20px;}
#ceers8{background: url('../polir/images/ceer8.png') no-repeat;}
#dass013{display: block;height: 695px;width: 100%;min-width:1200px;position: relative;margin: 0 auto;background: url('../polir/images/dass013.jpg')top center no-repeat;}
#dass011{display: block;height: 687px;width: 100%;min-width:1200px;position: relative;margin: 0 auto;background: url('../polir/images/dass011.jpg')top center no-repeat;}
#dass014{display: block;height: 670px;width: 100%;min-width:1200px;position: relative;margin: 0 auto;background: url('../polir/images/dass014.jpg')top center no-repeat;}
#dass011 h2{color: #ffffff;font-size: 60px;font-family: "PT Sans";padding: 0px;margin: 0px;}
#dass014 h2{color: #000000;font-size: 60px;font-family: "PT Sans";padding: 0px;margin: 0px;}
.clients1-bg span{color: #000000;font-size: 25px;font-family: "PT Sans";padding: 0px;margin: 0px;}
h2{color: #000000;font-size: 60px;font-family: "PT Sans";padding: 0px;margin: 0px;}
h2.autolig{color: #000000;font-size: 40px;font-family: "PT Sans";padding: 0px;margin: 0px;}
h1{color: #000000;font-size: 30px;font-family: "PT Sans";padding: 0px;margin: 0px;}
/* comments*/
.comments_wrap {background: #f3f9f9; padding: 16px 0 43px;}
.comments_list {text-align: center;}
.comments_list .item {margin-bottom: 15px; text-align: left;}
.comments_list .item img {float: left; background: #e8e8e8;width: 102px; border-radius: 50%; border: 5px solid #fff;box-shadow: 1px 2px 2px #d4d4d4; margin: 16px 23px 4px 0;-moz-box-shadow: 1px 2px 2px #d4d4d4;-webkit-box-shadow: 1px 2px 2px #d4d4d4;-o-box-shadow: 1px 2px 2px #d4d4d4;box-shadow: 1px 2px 2px #d4d4d4;}
.comments_list .item .georgia {overflow: hidden; font-size: 20px; color: #000; padding-top: 20px;}
.comments_list .item.right img {margin-left: 23px; margin-right: 0; float: right;}
.comments_list .item.right .georgia {text-align: right;}
/*comments end*/
.clients1-bg {width: 946px;}
.georgia a{color: #00000d;text-decoration: underline;background: url('../polir/images/vk.png') no-repeat;height: 33px;display: block;padding-left: 39px;padding-top: 5px;}
.zakaz1{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../polir/images/dass015.jpg')top center no-repeat;border-top: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;}
.zakaz2{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../polir/images/dass017.jpg')top center no-repeat;border-bottom: 1px solid #c1c1c1;}
.zakaz3{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../polir/images/dass018.jpg')top center no-repeat;border-bottom: 1px solid #c1c1c1;}
.zakaz4{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../polir/images/dass019.jpg')top center no-repeat;border-top: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;}
.zakaz5{display: block;width:100%;min-width:1200px;min-height: 255px;position: relative;margin: 0 auto;background: url('../polir/images/dass020.jpg')top center no-repeat;border-top: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;}
#zakaz{display: block;width:1200px;position: relative;margin: 0 auto;}
#akciya{display: block;width:1200px;position: relative;margin: 0 auto;}
span.akciya{display: inline-block;font-family: "PT Sans";font-size: 50px;color:#FFBA24;position: relative;text-align: center;width:1200px;}
span.zakaz{display: inline-block;font-family: "PT Sans";font-size: 50px;color: #ffffff;position: relative;text-align: center;padding-top: 31px;width:900px;}
span.form {
left: 900px;
margin-top: -155px;
position: relative;
width: 310px;
display: block;
padding-bottom: 10px;
}
input.pol{width: 264px;height:40px;border: 1px solid #454545;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin: 10px;margin-left: 11px;padding-left: 5px;font-family: Candara;font-size: 17px;}
button.feedback{font-family: "PT Sans";font-size: 30px;color: #454545;cursor: pointer;background: url(../polir/images/but.jpg) top center no-repeat;width: 267px;height:65px;border: none;position: relative;margin-left: 13px;margin-top: 10px;}
#video{display: block;width:100%;height: 397px;padding-top: 42px;position: relative;margin: 0 auto;background: url('../polir/images/video.png')top center no-repeat;}
img {border: none;}
.fonfooter{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../polir/images/fon.footer1.jpg')top center no-repeat;}
.fonfooter2{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../polir/images/fon.footer2.jpg')top center no-repeat;}
.face img {float: left; background: #e8e8e8;width: 102px; border-radius: 50%; border: 5px solid #fff;box-shadow: 1px 2px 2px #d4d4d4; margin: 16px 23px 4px 16px;-moz-box-shadow: 1px 2px 2px #d4d4d4;-webkit-box-shadow: 1px 2px 2px #d4d4d4;-o-box-shadow: 1px 2px 2px #d4d4d4;box-shadow: 1px 2px 2px #d4d4d4;}
.drugi{display: block;width:100%;min-width:1200px;min-height: 168px;position: relative;margin: 0 auto;background: url('../polir/images/drug.jpg')top center no-repeat;border-top: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;}








@font-face {
    font-family: PT Sans; 
    src: url(PT_Sans.ttf); 
}
body{background: #FFFFFF; margin: 0 auto; position: relative;  width: 100%;  min-height: 100%;  height: 100%;  height: auto !important;  left: 0;  top: 0; font-family: "PT Sans";}
#about{display: block;height: 819px;width: 100%;min-width:1200px;position: relative;margin: 0 auto;background: url('../images/about.jpg')top center no-repeat;}
h2{color: #000000;font-size: 60px;font-family: "PT Sans";padding: 0px;margin: 0px;}
#uslugiopis{display: block; height: 908px;width: 100%;min-width:1200px;position: relative; margin: 0 auto;background: url('../images/usopis.jpg')top center no-repeat;}
h2.opis{color: #000000;font-size: 45px;font-family: "PT Sans";padding: 18px;margin: 0px;}
span.usl{color:#fff;font-size:29px;font-family: "PT Sans";text-align: center;width:1025px;position: relative;margin: 0 auto;display: block; margin-top:25px;}
span.usl2{color:#fff;font-size:29px;font-family: "PT Sans";text-align: center;max-width:220px;position: relative;display: block;}
#maxuzn{width:1200px;position: relative;margin: 0 auto;}
#zn1{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat;}
#uzn1{position: relative; display: inline-block;width:220px; height:180px; float: left;margin-top: 35px;margin-left:100px;}
#uzn2{position: relative; display: inline-block;width:220px; height:180px; float: left;margin-top: 35px;margin-left:43px;}
#zn2{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -70px 0px;}
#zn3{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -140px 0px;}
#zn4{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -210px 0px;}
#zn5{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -280px 0px;}
#zn6{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -350px 0px;}
#zn7{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -420px 0px;}
#zn8{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -490px 0px;}
#zn9{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -560px 0px;}
#zn10{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -630px 0px;}
#zn11{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -700px 0px;}
#zn12{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -770px 0px;}


@media screen and (max-width: 1100px){
    .zakaz2{
        background: #7fa0b3;
    }
    .zakaz{
        color: #fff;
    }
    #polir{
        background: url("../polir/images/mob-hpol2.png");
        background-position: 50% 100%;
        background-size: cover;
    }
    #polcar{
        display: none;
    }
    .myh1{
        background: #7ab12f6b;
        text-align: center;
        color: #fff;
        padding: 10px 0;
        border-radius: 12px;
        font-size: 2rem;
        box-shadow: 3px 4px 19px #0b0b09;
    }
    #gifts13{
        height: 56vh;
        background-size: cover;
        min-height: 400px;
        width: 100% !important;
        min-width: 100vw;
    }
    #mainsig, #polir{
        width: 100%;
        min-width: 100%;
        height: 600px;
        margin-top: initial;
        top: 0;
    }
    #mainsig nav {
        display: flex;
        justify-content: space-evenly;
    }
    #mainsig #logo, #mainsig #adres, #mainsig #soc {
        float: none;
        display: inline-block;
        left: 0;
        text-align: center;
    }
    #mainsig .slogan {
        top: 170px;
        left: 0;
        right: 0;
        margin: auto;
        background: rgba(37, 37, 37, 0.8);
        padding: 20px 0;
        border-radius: 20px;
    }
    .form input[type='file']{
        background: #e0e652;
        margin: auto;
        display: block;
        padding: 10px;
        border-radius: 20px;
        color: #454545!important;
    }
    .mainfon{
        position: absolute;
        top: 0;
        z-index: 20;
    }
    .js-alarm_car ,.landing-img-alarm{
        width: 100% !important;
        min-width: 100%!important;
        height: 556px;
        background-position:52% 25%!important;
        background-color: #1d2022!important;
    }
    /*  .landing-img-alarm{
          background: url("../brend/images/mob-br2.png");
          background-repeat: no-repeat!important;
      }
      .landing-img-alarm.lights{
          background: url("../brend/images/mob-br1.png");
          background-repeat: no-repeat!important;
      }*/
    #dass014{
        width: 100% !important;
        min-width: 100vw;
        height: auto;
    }
    #dass014 img{
        width: 45%;
    }
    .zakaz,span.zakaz{
        width: 100%;
        min-width: 100vw;
        min-height: 130px;
        font-size: 2rem!important;
    }
    .zakaz4 .akciya {
        width: 100%;
        font-size: 2rem;
    }
    #zakaz{
        width: 100% !important;
        min-width: 100vw;
    }
    .zakaz4,.zakaz5 {
        min-height: 141px;
        background-size: cover;
        width: 100% !important;
        min-width: 100vw;
    }
    .zakaz5 #zakaz .form{
        margin: auto;
        left: 0;
    }
    #brendgifts14 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .myh2 {
        flex-basis: 100%;
        font-size: 2rem;
        margin: 20px 0;
    }
    #dass011{
        height: 54vh;
        min-height: 350px;
        background-size: cover;
        width: 100%;
        min-width: 100vw;
    }
    #dass011 .myh2 {
        margin-top: -22px;
        font-size: 2.4rem;
    }

    #dass011 .myh2 {
        font-size: 2rem;
        margin-top: -22px;
    }
    #dass013 {
        height: 56vh;
        background-size: cover;
        min-height: 400px;
        width: 100% !important;
        min-width: 100vw;
    }
}
@media screen and (max-width: 768px){
    #adres{
        background: #21222294;
        padding: 10px 0;
        border-radius: 25px;
    }
    #gifts13{
        height: 45vh
    }
    .js-alarm_car ,.landing-img-alarm{
        background-position: 90% 0%!important;
    }
  #polir{
      background-position: 21% 103%;
  }
    #mainsig nav {
        display: flex;
        flex-direction: column;
    }
    #mainsig #soc{
        width: initial;
    }
    #mainsig .slogan{
        top: 274px;
    }
    #dass013 {
        height: 45vh;
    }
    #mainsig #logo, #mainsig #adres, #mainsig #soc {
        margin: auto;
    }
}
@media screen and (max-width: 460px){
    .myh1{
        font-size: 1.2rem;
    }
    #gifts13{
        height: 37vh;
        min-height: 300px;
    }
    .footer_img{
        display: block!important;
        margin: auto !important;
        float: none!important;
        margin-bottom: 20px!important;
    }
    .js-alarm_car, .landing-img-alarm{
        height: 477px;
        background-position: 79% 0!important;
    }
    /* .landing-img-alarm{
         background: url("../brend/images/mob-320-br2.png");
     }
     .landing-img-alarm.lights{
         background: url("../brend/images/mob-320--br1.png");
     }*/
    #mainsig .slogan{
        font-size: 1.5rem;
    }
    #mainsig .slogan{
        width: 100%;
    }
    #dass011 {
        height: 29vh;
        background-size: 100% 100%;
        min-height: initial;
    }
    #dass011 .myh2 {
        font-size: 1rem;
        margin-top: -19px;
    }
    .zakaz4 .akciya {
        font-size: 1rem;
    }
    .zakaz4{
        min-height: 73px;
    }
    span.zakaz{
        font-size: 1rem!important;
    }

    #dass013 {
        height: 37vh;
        min-height: 300px;
    }
}