@font-face {
    font-family: PT Sans; 
    src: url(PT_Sans.ttf); 
}
body{background: #fffff; margin: 0 auto; position: relative;  width: 100%;  min-height: 100%;  height: 100%;  height: auto !important;  left: 0;  top: 0; font-family: "PT Sans", Arial;}
.landing-img-alarm.lights {
position: absolute;
top: 0px;
left: 0;
right: 0;
background-image: url(../vmyatina/images/vm1.jpg);
opacity: 0;
z-index: 5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.landing-img-alarm {
top: 0px;
width: 100%;
min-width:1200px;
height: 555px;
background:#191c1e url(../vmyatina/images/vm2.jpg) no-repeat bottom;
z-index: 4;
}

#mainsig {
position: relative;
width: 1200px;
margin: 0 auto;
display: block;
height: 555px;
margin-top: -555px;
z-index: 100 !important;
}

#main {position: relative;width: 1200px;height: 730px;margin: 0 auto;}
#logo {position: relative;float: left;top: 0px;}
#adres{position: relative;width: 288px;color:#000000 !important;font-family: Trebuchet MS;font-size: 25px;display: inline-block;top: 10px;left: 539px;float: left;}
#adres a{color:#000000 !important;text-decoration: none;}
span.tel{font-size: 40px;}
span.adr{font-size: 20px;}
#soc{position: relative;width: 33px;display: inline-block;left: 548px;top: 17px;}
.slogan{position: absolute;color: #FFFFFF;font-size: 34px;width: 370px;text-align: center;font-family: "PT Sans";padding: 0px;margin: 0px;left: 425px;top: 70px;z-index:1000;}

#gorblock a{text-decoration: none;color:#ffffff;font-family: Trebuchet MS;font-size: 14px;}
#gorblock a:hover{text-decoration: underline;}
#logo a{text-decoration: none;}
#yuslygf{position: relative;background: url('../vmyatina/images/gifts12.jpg') top center no-repeat;width: 100%;min-width:1200px;margin: 0 auto;}
#yuslyg{position: relative;width: 1200px;height:850px;padding-top: 50px;margin: 0 auto;}
#yus1,#yus2,#yus3,#yus4,#yus5,#yus6,#yus7,#yus8{position: relative;display: inline-block;width: 360px;height: 83px;color: #000000;font-family: Trebuchet MS;font-size: 25px;background-position: center left;padding-left: 111px;padding-top: 15px;margin-left: 115px;margin-bottom: 26px;text-align: left;}
#yus2,#yus4,#yus6,#yus8{margin-left: 80px;}
#yus1{background: url('../vmyatina/images/circ1.png') no-repeat;}
#yus2{background: url('../vmyatina/images/circ5.png') no-repeat;}
#yus3{background: url('../vmyatina/images/circ2.png') no-repeat;}
#yus4{background: url('../vmyatina/images/circ6.png') no-repeat;}
#yus5{background: url('../vmyatina/images/circ3.png') no-repeat;}
#yus6{background: url('../vmyatina/images/circ7.png') no-repeat;}
#yus7{padding-top: 30px;background: url('../vmyatina/images/circ4.png') no-repeat;top: -20px;}
#yus8{background: url('../vmyatina/images/circ8.png') no-repeat;}
#gifts13{display: block;height: 819px;width: 100%;min-width:1200px;position: relative;margin: 0 auto;background: url('../vmyatina/images/gifts13.jpg')top center no-repeat;}
#gifts11{display: block;height: 687px;width: 100%;min-width:1200px;position: relative;margin: 0 auto;background: url('../vmyatina/images/gifts11.jpg')top center no-repeat;}
#gifts14{display: block;height: 670px;width: 100%;min-width:1200px;position: relative;margin: 0 auto;background: url('../vmyatina/images/gifts14.jpg')top center no-repeat;}
#gifts11 h2{color: #ffffff;font-size: 60px;font-family: "PT Sans";padding: 0px;margin: 0px;}
#gifts14 h2{color: #000000;font-size: 60px;font-family: "PT Sans";padding: 0px;margin: 0px;}
.clients1-bg span{color: #000000;font-size: 25px;font-family: "PT Sans";padding: 0px;margin: 0px;}
h2{color: #000000;font-size: 60px;font-family: "PT Sans";padding: 0px;margin: 0px;}
h2.autolig{color: #000000;font-size: 40px;font-family: "PT Sans";padding: 0px;margin: 0px;}
h1{color: #000000;font-size: 30px;font-family: "PT Sans";padding: 0px;margin: 0px;}
/* comments*/
.comments_wrap {background: #f3f9f9; padding: 16px 0 43px;}
.comments_list {text-align: center;}
.comments_list .item {margin-bottom: 15px; text-align: left;}
.comments_list .item img {float: left; background: #e8e8e8;width: 102px; border-radius: 50%; border: 5px solid #fff;box-shadow: 1px 2px 2px #d4d4d4; margin: 16px 23px 4px 0;-moz-box-shadow: 1px 2px 2px #d4d4d4;-webkit-box-shadow: 1px 2px 2px #d4d4d4;-o-box-shadow: 1px 2px 2px #d4d4d4;box-shadow: 1px 2px 2px #d4d4d4;}
.comments_list .item .georgia {overflow: hidden; font-size: 20px; color: #000; padding-top: 20px;}
.comments_list .item.right img {margin-left: 23px; margin-right: 0; float: right;}
.comments_list .item.right .georgia {text-align: right;}
/*comments end*/
.clients1-bg {width: 946px;}
.georgia a{color: #00000d;text-decoration: underline;background: url('../vmyatina/images/vk.png') no-repeat;height: 33px;display: block;padding-left: 39px;padding-top: 5px;}
.zakaz1{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../vmyatina/images/gifts15.jpg')top center no-repeat;border-top: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;}
.zakaz2{display: block;width:100%;min-width:1200px;min-height: 168px;position: relative;margin: 0 auto;background: url('../vmyatina/images/gifts17.jpg')top center no-repeat;border-bottom: 1px solid #c1c1c1;}
.zakaz3{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../vmyatina/images/gifts18.jpg')top center no-repeat;border-bottom: 1px solid #c1c1c1;}
.zakaz4{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../vmyatina/images/gifts19.jpg')top center no-repeat;border-top: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;}
.zakaz5{display: block;width:100%;min-width:1200px;min-height: 255px;position: relative;margin: 0 auto;background: url('../vmyatina/images/gifts20.jpg')top center no-repeat;border-top: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;}
#zakaz{display: block;width:1200px;position: relative;margin: 0 auto;}
#akciya{display: block;width:1200px;position: relative;margin: 0 auto;}
span.akciya{display: inline-block;font-family: "PT Sans";font-size: 50px;color:#FFBA24;position: relative;text-align: center;width:1200px;}
span.zakaz{display: inline-block;font-family: "PT Sans";font-size: 50px;color: #ffffff;position: relative;text-align: center;padding-top: 31px;width:900px;}
span.form {
left: 900px;
margin-top: -167px;
position: relative;
width: 310px;
display: block;
padding-bottom: 10px;
}
input.feedback{font-family: "PT Sans";
    font-size: 25px;
    color: #454545;
    cursor: pointer;
    background: url(../brend/images/but.jpg) top center no-repeat;
    width: 267px;
    height: 38px;
    border: none;
    position: relative;
    margin-left: 13px;
    margin-top: 9px;}
input#fileFF {
    color: #ffffff;
    padding-left: 10px;
}

textarea#messageFF {
    width: 264px;
    height: 40px;
    border: 1px solid #454545;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px;
    margin-left: 11px;
    padding-left: 5px;
    font-family: Candara;
    font-size: 17px;
}
#video{display: block;width:100%;height: 397px;padding-top: 42px;position: relative;margin: 0 auto;background: url('../vmyatina/images/video.png')top center no-repeat;}
img {border: none;}
.fonfooter{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../vmyatina/images/fon.footer1.jpg')top center no-repeat;}
.fonfooter2{display: block;width:100%;min-width:1200px;min-height: 215px;position: relative;margin: 0 auto;background: url('../vmyatina/images/fon.footer2.jpg')top center no-repeat;}
.face img {float: left; background: #e8e8e8;width: 102px; border-radius: 50%; border: 5px solid #fff;box-shadow: 1px 2px 2px #d4d4d4; margin: 16px 23px 4px 16px;-moz-box-shadow: 1px 2px 2px #d4d4d4;-webkit-box-shadow: 1px 2px 2px #d4d4d4;-o-box-shadow: 1px 2px 2px #d4d4d4;box-shadow: 1px 2px 2px #d4d4d4;}
.frends{display: block;width:100%;min-width:1200px;min-height: 168px;position: relative;margin: 0 auto;background: url('../vmyatina/images/frends.jpg')top center no-repeat;border-top: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;}









@font-face {
    font-family: PT Sans; 
    src: url(PT_Sans.ttf); 
}
body{background: #FFFFFF; margin: 0 auto; position: relative;  width: 100%;  min-height: 100%;  height: 100%;  height: auto !important;  left: 0;  top: 0; font-family: "PT Sans";}
#about{display: block;height: 819px;width: 100%;min-width:1200px;position: relative;margin: 0 auto;background: url('../images/about.jpg')top center no-repeat;}
h2{color: #000000;font-size: 60px;font-family: "PT Sans";padding: 0px;margin: 0px;}


h2.opis{color: #000000;font-size: 45px;font-family: "PT Sans";padding: 18px;margin: 0px;}

span.usl2{color:#fff;font-size:29px;font-family: "PT Sans";text-align: center;max-width:220px;position: relative;display: block;}
#maxuzn{width:1200px;position: relative;margin: 0 auto;}
#zn1{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat;}

#maxuzn{
    width:100%;
    position: relative;
    margin: 0 auto;}
#zn1{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat;}
#uslugiopis {
    display: block;
    height: 908px;
    width: 100%;
    min-width: 100%;
    position: relative;
    margin: 0 auto;
    background: url(../images/usopis.jpg)top center no-repeat;
}
#uzn1 {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 180px;
    float: left;
    margin-top: 35px;
    margin-left: 50px;
}
#uzn2 {
    margin-left: initial;
    position: relative;
    display: inline-block;
    width: 220px;
    height: 180px;
    float: left;
    margin-top: 35px;
}

#zn2{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -70px 0px;}
#zn3{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -140px 0px;}
#zn4{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -210px 0px;}
#zn5{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -280px 0px;}
#zn6{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -350px 0px;}
#zn7{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -420px 0px;}
#zn8{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -490px 0px;}
#zn9{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -560px 0px;}
#zn10{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -630px 0px;}
#zn11{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -700px 0px;}
#zn12{position: relative;margin: 0 auto;width:70px; height:79px;background: url('../images/uszn.png')no-repeat; background-position: -770px 0px;}

.whyMe {
    margin-top: -64px;
}
.mob_h2, .mob_h2_comment,.mob_h2_work{
    display: none;
}
.mob_more_wrapp{
    display: block;
}

@media screen and (max-width: 1100px){
    #mainsig{
        margin-top: -701px;
        height: 700px;
        background-size: cover;
    }
    .js-alarm_car ,.landing-img-alarm{
        width: 100% !important;
        min-width: 100%!important;
    }
    .mob_more, .mob_more_wrapp_wort {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    #greats21{
        background-size: cover;
        height: 100%;
    }
    #header1{
        height: 100%;
    }
    #stekl{
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    .us_wprks {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .us_wprks img {
        width: 300px;
        margin: 10px;
        border-radius: 25px;
        box-shadow: 2px 4px 7px black;
    }
    .us_wprks a{
        display: inline-block;
    }
    #mainsig nav{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        z-index: 22;
    }
    button.feedback, input.feedback{
        margin: auto;
        display: block;
        width: 175px;
        height: 38px;
        font-size: 1rem;
    }
    .mapp{
        height: 350px;
    }
    .scrollTop{
        margin: 0!important;
        left: 0!important;
    }

    .whyMe #yus1,.whyMe #yus2,.whyMe #yus3,.whyMe #yus4,.whyMe #yus5,.whyMe #yus6,.whyMe #yus7,.whyMe #yus8{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: space-around;
        padding-right: 10px;
    }


    .hidden{
        display: block;
    }
    .header-mob{
        position: absolute;
        top: 256px;
        width: 100%;
        z-index: 1;
    }
    .js-alarm_car,.landing-img-alarm{
        height: 700px;
    }
    #mainsig  #logo,#mainsig #adres,#mainsig #soc{
        float: none;
        display: inline-block;
        left: 0;
        text-align: center;
    }
    #adres{
        font-size: 0.7rem;
    }
    #mainsig .slogan{
        top: 170px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #car .flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    #greats14{
        height: initial;
        background-size: cover;
    }
    #cedialygf{
        background-size: cover;

    }
    #cedialygf #cedialyg{
        height: 100%;
    }
    #mainsig,#greats21,#mainsig,#greats13, #greats14,.zakaz2,.zakaz,#about,#maxbal,.zakaz3,#cedialygf,#cedialyg,.zakaz4,#zakaz,#greats11,.zakaz4,#akciya,#greats14,.wrapper,#uslugiopis{
        width: 100% !important;
        min-width:100vw
    }
    #greats13{
        height: 56vh;
        background-size: cover;
        min-height: 400px;
    }
    .zakaz{
        font-size: 2rem!important;
    }
    #greats11{
        height: 54vh;
        min-height: 350px;
        background-size: cover;
    }

    #greats11 .myh2{
        margin-top: -22px;
        font-size: 2.4rem;
    }
    #greats14{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        margin-top: -55px;
        padding-bottom: 48px;
        height: 100%;
        margin-top: 10px;
    }
    #greats14 a{
        margin-left: 5px;
    }
    #greats14 img{
        width: 50%;
    }

    #gorblock{
        top: 0;
        padding-top: 0;
        height: initial;
    }
    .zakaz2,.zakaz3, .zakaz4{
        background-size: cover;
    }
    .zakaz2 #zakaz .zakaz,.zakaz3 #zakaz .zakaz,.zakaz4 #zakaz .zakaz{
        display: block;
        width: 100%;
    }
    .zakaz4 #zakaz .form,.zakaz5 #zakaz .form, .zakaz3 #zakaz .form,.zakaz2 #zakaz .form{
        margin: auto;
        left: 0;
    }
    .zakaz5 {
        min-height: 141px;
        background-size: cover;
    }
    .zakaz5 .akciya {
        width: 100%;
        font-size: 2rem;
    }
    .zakaz4{
        min-height: 141px;
    }
    .zakaz4 .akciya{
        width: 100%;
        font-size: 2rem;
    }
    .zakaz4 #akciya{
        width: 100%;
        font-size: 2rem;
    }

    #about{
        background: url(../images/about.jpg)center center no-repeat;
        padding: 25px 0;
        margin-top: -13px;
    }
    #about, #maxbal{
        height: 100%;
    }
    #about #maxbal{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #about #maxbal .myh2{
        flex-basis: 100%;
    }
    #about #maxbal #bal1,#about #maxbal #bal2,#about #maxbal #bal3, #about #maxbal #bal4, #about #maxbal #bal5, #about #maxbal #bal6{
        left: 0;
        top: 0;
        background: rgba(255, 254, 252, .9);
        border-radius: 20px;
        margin: 10px;
        box-shadow: 0px 2px 12px rgba(255, 254, 252, 0.9);
        text-align: center;
        font-size: 1.2rem;
    }

    #uslugiopis{
        height: auto;
        background: url("../images/about-1.jpg") repeat;
    }
    .clients1 h1{
        flex-basis: 100%;
    }
    #uslugiopis .myopis{
        background: #d59600;
        color: #fff;
    }
    #uslugiopis .usl{
        width: 100%;
    }
    #uslugiopis #maxuzn{
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #uslugiopis #maxuzn div{
        float: none;
        margin: 0;
        margin-top: 20px;
    }
    #uslugiopis #maxuzn div div{
        margin: auto;

    }
    .clients1 .clients1-bg{
        width: 100%;
        margin-bottom: 20px;
    }
    .mapp #ymaps1529319261159804442{
        width: 100% !important;
    }
    .face img{
        width: 50px;
    }
    #video {
        width: 100%;
        background-size: 100% 100%;
    }
    #video iframe{
        width: 75%;
        height: 92%;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        z-index: -1;
    }
    .myautolig{
        text-align: center;
    }
    .serf{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .serf img{
        margin: 10px;
    }
    .clients1{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .clients1 .myh2{
        flex-basis: 100%;
    }
    .clients1 img{
        border: none;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 2px 3px 11px black;
    }
    .frends{
        background-size: contain;
        min-height: 16vh;
        border: initial;
        margin-top: 20px;
        width: 100%;
        min-width: 100%;
    }
    .whyMe{
        display: flex;
        flex-flow: row wrap;
        justify-content:  space-around;
        align-items: flex-start;
        align-content: space-around;
        padding-right: 10px;
    }
    #yus1 img,#yus2 img,#yus3 img,#yus4 img,#yus5 img,#yus6 img,#yus7 img,#yus8 img{
        width: 60px;
        height: 60px;
        margin-right:initial;
    }
    #yus1, #yus2, #yus3, #yus4, #yus5, #yus6, #yus7,  #yus8{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        align-content: space-between;
        width: 150px;
        height: 100%;
        margin: 10px;
        font-size: 19px;
        top: 0;
        text-align: center;
        padding: 0;
    }
    #yuslyg .myh2{
        flex-basis: 100%;
    }
    .mob_more{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .myh2{
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 768px){
    #mainsig{
        margin-top: -651px;
        height: 700px;
        background-size: cover;
    }
    #mainsig .slogan{
    font-size: 1.5rem;
    top: 254px;
    }
    .myh2{
        font-size: 2.1rem;
    }
    #zakaz{
        margin-top: -60px;
        padding-bottom: 28px;
    }
    .mob_h2, .mob_h2_comment,.mob_h2_work{
        display: block;
    }
    .mob_how_mow a{
        text-decoration: none;
        color: #202020;
        display: inline-block;
        background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
        padding: 10px;
        margin: 10px;
        border-radius: 25px;
        font-size: 2rem;
        font-weight: 400;
    }
    .mob_more_wrapp, .mob_more_wrapp_comment,.mob_more_wrapp_wort{
        display: none;
        transition: all 1s;
    }
    #greats11{
        height: 38vh;
    }
    h2{
        font-size: 2rem;
    }
    #greats13{
        height: 45vh;
    }
    .mapp{
        height: 250px;
    }

    .clients1-bg .clients1-bg span{
        font-size: 1.3rem;
    }
    #video iframe{
        width: 100%;
    }
    .myopis{
        font-size: 2rem;
    }
    span.usl{
        font-size: 1.4rem;
    }
    #uslugiopis #maxuzn div span{
        font-size: 1rem;
    }
    #maxbal .myh2, #greats14 .myh2, #greats11 .myh2{
        font-size: 2rem;
    }
    #yuslyg .myh2{
        font-size: 2rem;
    }
    .clients1 .myh2{
        font-size: 2rem;
    }
    .mob_h2,.mob_h2_comment{
        display: flex;
        flex-basis: 100%;
        justify-content: center;

    }

    .mob_how_mow a{
        text-decoration: none;
        color: #202020;
        display: inline-block;
        background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
        padding: 10px;
        margin: 10px;
        border-radius: 25px;
        font-size: 2rem;
        font-weight: 400;
    }
    .mob_more_wrapp, .mob_more_wrapp_comment{
        display: none;
        transition: all 1s;
    }
    #mainsig nav{
        flex-direction: column;
    }
    .header-mob{
        top: 352px;
    }
    #mainsig #logo, #mainsig #adres, #mainsig #soc{
        margin: auto;
    }
    #main #soc{
        width: initial;
    }
    #soc a{
        display: inline-block;
        margin-right: 10px;
    }
    #soc {
        width: initial;
    }
    #mainsig.slogan{
        top: 259px;
    }
    .mobMenu{
        position: relative;
        top: -170px;
    }

    #video{
        background: none;
    }
    .where_photo{
        width: 89%;
    }
    .clients1-bg .clear_self{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .clients1-bg .clear_self a{
        width: 35%;
        margin: auto;
        display: block;
    }
    .clients1-bg .clear_self img{
        margin: auto;
    }
    .myautolig{
        font-size: 2rem;
    }
}
@media screen and (max-width: 460px) {
    .js-alarm_car, .landing-img-alarm{
        background-position: -620px bottom;
    }
    .slogan-small{
        font-size: 1rem!important;
    }
    .slogan-small2{
        font-size: .9rem!important;
    }
    #greats13 {
        height: 37vh;
        min-height: 300px;
    }

    #greats11 {
        background-size: 100% 100%;
        min-height: initial;
    }
    #greats21{
        height: 100%;
    }
    #yuslyg .myh2 {
        font-size: 1.4rem;
    }

    .myopis {
        font-size: 1.5rem;
    }

    #logo img {
        width: 90%;
    }

    .bottomDescription {
        padding: 0 !important;
    }

    #uzn2, #uzn1 {
        height: 125px;
    }

    .mapp {
        height: 200px;
    }

    .zakaz {
        font-size: 1rem !important;
    }

    #mainsig .slogan {
        width: 310px;
        font-size: 26px;
        top: 273px;
    }

    #greats11 {
        height: 29vh;

    }

    .mobMenu {
        top: -150px;
    }

    .mobMenu .mobMenu__button {
        width: 140px;
        height: 91px;
        background-size: contain;
        z-index: 1000;
    }

    #maxbal {
        font-size: 12px;
    }

    #maxbal .myh2, #greats14 .myh2, #greats11 .myh2 {
        font-size: 2rem;
    }

    #maxbal .num {
        font-size: 24px;
    }

    #yuslyg #yus1, #yuslyg #yus2, #yuslyg #yus3, #yuslyg #yus4, #yuslyg #yus5, #yuslyg #yus6, #yuslyg #yus7, #yuslyg #yus8 {
        word-wrap: break-word;
    }

    .mob_how_mow a {
        font-size: 1.3rem;
    }

    .comments_list .item .georgia {
        font-size: 14px;
    }

    #yuslyg #yus1, #yuslyg #yus2, #yuslyg #yus3, #yuslyg #yus4, #yuslyg #yus5, #yuslyg #yus6, #yuslyg #yus7, #yuslyg #yus8 {
        width: 100px;
    }

    #yuslyg #yus1, #yuslyg #yus2, #yuslyg #yus3, #yuslyg #yus4, #yuslyg #yus5, #yuslyg #yus6, #yuslyg #yus7, #yuslyg #yus8 {
        font-size: 1rem;
    }

    #greats11 .myh2 {
        font-size: 1rem;
        margin-top: -19px;
    }

    .zakaz4 {
        min-height: 73px;
    }

    .zakaz5 .akciya {
        font-size: 1rem;
    }

    .myh2 {
        font-size: 1rem;
    }

    .zakaz4 .akciya {
        font-size: 1.2rem;
    }
}
